.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.app-page-container {
  // width: calc(100% - 140px);
  width: 100%;
}
