@use "../colors";

.container {
  min-height: 362px;
  background: colors.$midnight-blue;
  position: relative;
}

.text {
  color: colors.$sand;
  font-size: 150px;
  font-family: swear-display-cilati;
}
