.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid-item {
    position: relative;
    transition: transform .5s;
    height: auto;
    width: 100%;

    &:hover {
        transform: scale(1.025);
        transition: transform .5s
    }
}