.nav-container {
  right: 0;
  bottom: 0;
  position: fixed;
  width: calc(100% - 100px);
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  font-size: 2em;
  color: blue;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 75px;
  letter-spacing: 2.5px;
}

.nav-links-selected {
  // text-decoration: underline;
  border-bottom: 4px solid currentColor;
}

.nav-stickwhack {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: flex-end;
  font-style: italic;
  letter-spacing: 5px;
  padding-top: 78px;
}

.nav-logo {
  height: 350px;
  position: fixed;
  bottom: 0;
  right: 0;
}
