.nav-container {
    //background: aliceblue;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 120px;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    letter-spacing: 2.5px;
    margin-bottom: auto;
}

.nav-stickwhack {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    align-items: flex-end;
    font-style: italic;
    letter-spacing: 5px;
}

.nav-logo { 
    height: 60px;
    transition: height 1s;

    &:hover {
        height: 80px;
        transition: height 1s;
    }
}
