.whyStickwhack {
  position: fixed;
  top: 25px;
  right: 50px;
  z-index: 99;
}

.stickwhack {
  position: fixed;
  bottom: 25px;
  left: 50px;
  z-index: 99;
}

.links {
  position: fixed;
  bottom: 25px;
  right: 50px;
  z-index: 99;
  display: flex;
  gap: 50px;
}
