.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;

  @media only screen and (max-width: 1300px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.left {
  min-height: calc(100vh - 100px);
  padding: 50px;
  color: white;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 30%;
  margin: auto 0;
}

.right {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.button-left {
  position: absolute;
  left: 30px;
  top: 50%;
  z-index: 99;
}

.button-right {
  position: absolute;
  right: 30px;
  top: 50%;
  z-index: 99;
}

.text-container {
  margin-top: 100px;
  max-width: 700px;
}

.title {
  font-size: 37px;
  margin-bottom: 30px;
}

.description {
  font-size: 35px;
  margin-bottom: 60px;
}

.carousel-wrapper {
  position: absolute;
  display: grid;
  transition: left 2s;
  min-height: 100vh;
  overflow: hidden;
}

.thumb-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.image:hover {
  transform: scale(1.05);
  transition: transform 1s;
}
