.container {
  //background: aliceblue;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 120px;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  letter-spacing: 2.5px;
  margin-bottom: auto;
}

.links-selected {
  border-bottom: 3px solid #000;
}

.stickwhack {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: flex-end;
  font-style: italic;
  letter-spacing: 5px;
  padding-top: 78px;
}

.logo {
  height: 350px;
  position: fixed;
  bottom: 0;
  right: 0;
}
