@use '../../colors';

.container {
  min-height: 362px;
  background: colors.$majima-blue;
  position: relative;
}

.heading {
  color: colors.$majima-sand;
  font-size: 150px;
  font-family: swear-display-cilati;
  font-weight: 700;
}
